@for (address of addresses().controls; track address; let i = $index) {
<div [formGroup]="getAddressGroup(i)" class="mt-4">
  <div class="row">
    <div class="col-md-6">
      <app-form-input
        label="Street"
        type="text"
        [control]="getAddressGroup(i).get('street')!"
      />
    </div>
    <div class="col-md-6">
      <app-form-input
        label="City"
        type="text"
        [control]="getAddressGroup(i).get('city')!"
      />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <app-form-input
        label="Zip"
        type="text"
        [control]="getAddressGroup(i).get('zip')!"
      />
    </div>
    <div class="col-md-6">
      <app-form-input
        label="Country"
        type="text"
        [control]="getAddressGroup(i).get('country')!"
      />
    </div>
  </div>

  @if(addresses().length > 1){
  <button mat-button color="warn" (click)="remove.emit(i)">
    Remove Address
  </button>
  <hr class="my-4" />
  }
</div>
}

<button mat-button color="primary" (click)="add.emit()">Add Address</button>
