<div
  class="container d-flex justify-content-center align-items-center min-vh-100 my-4"
>
  <div class="w-100" style="max-width: 800px">
    <mat-horizontal-stepper linear class="rounded-4 shadow-sm pt-4 px-4">
      <mat-step
        [stepControl]="form.get('personalInfo')!"
        [completed]="form.get('personalInfo')?.valid"
      >
        <form [formGroup]="personalInfoGroup">
          <ng-template matStepLabel>Personal Info</ng-template>
          <div class="row mt-4">
            <div class="col-md-6">
              <app-form-input
                label="Full Name"
                type="text"
                [control]="personalInfoGroup.get('fullName')!"
              />
            </div>

            <div class="col-md-6">
              <app-form-input
                label="Email"
                type="email"
                [control]="personalInfoGroup.get('email')!"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <app-form-input
                label="Date of Birth"
                type="date"
                [control]="personalInfoGroup.get('dob')!"
              />
            </div>

            <div class="col-md-6">
              <app-form-input
                label="Phone"
                type="tel"
                [control]="personalInfoGroup.get('phone')!"
              />
            </div>
          </div>

          <div>
            <button
              mat-button
              matStepperNext
              [disabled]="!form.get('personalInfo')?.valid"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="form.get('addresses')?.valid">
        <ng-template matStepLabel>Addresses</ng-template>
        <app-address-step
          [addresses]="addresses"
          (add)="addAddress()"
          (remove)="removeAddress($event)"
        />
        <div class="mt-4">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="addresses.invalid">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step [completed]="form.get('skills')?.valid">
        <ng-template matStepLabel>Skills</ng-template>
        <app-skills-step
          [skills]="skills"
          (add)="addSkill()"
          (remove)="removeSkill($event)"
        />
        <div class="mt-4">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="skills.invalid">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <mat-card class="mt-4 py-2" [appearance]="'outlined'">
          <mat-card-title class="p-4">Personal Info</mat-card-title>
          <mat-card-content class="px-4">
            <p>
              Full Name:
              {{ form.get("personalInfo.fullName")?.value }}
            </p>
            <p>
              Email:
              {{ form.get("personalInfo.email")?.value }}
            </p>
            <p>
              Phone:
              {{ form.get("personalInfo.phone")?.value }}
            </p>
            <p>DOB: {{ form.get("personalInfo.dob")?.value }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="mt-4 py-2" [appearance]="'outlined'">
          <mat-card-title class="p-4">Addresses</mat-card-title>
          <mat-card-content class="py-2 px-4">
            @for (address of form.get('addresses')?.value; track address; let i
            = $index) {
            <h6 class="py-2">
              <strong>Address {{ i + 1 }}</strong>
            </h6>
            <p class="ps-2">Street: {{ address.street }}</p>
            <p class="ps-2">City: {{ address.city }}</p>
            <p class="ps-2">Zip: {{ address.zip }}</p>
            <p class="ps-2">Country: {{ address.country }}</p>
            @if(i != addresses.length-1){
            <hr />
            } }
          </mat-card-content>
        </mat-card>

        <mat-card class="my-4 py-2" [appearance]="'outlined'">
          <mat-card-title class="p-4">Skills</mat-card-title>
          <mat-card-content class="px-4">
            <ul>
              @for (skill of form.get('skills')?.value; track skill) {
              <li>{{ skill.name }} - {{ skill.level }}</li>
              }
            </ul>
          </mat-card-content>
        </mat-card>

        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="primary" (click)="onSubmit()">Submit</button>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
